    <!-- Modal -->
    <div
    class="modal fade"
    id="add-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
    >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Product</h5>
            <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            >
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form action="/timnas" method="POST">
            <div class="modal-body">
            <div class="form-group">
                <label for="name">Nama Produk</label>
                <input
                type="text"
                class="form-control"
                id="nama"
                name="nama"
                placeholder="Masukkan nama produk"
                required
                />
            </div>
            <div class="form-group">
                <label for="name">No Punggung</label>
                <input
                type="number"
                class="form-control"
                id="no"
                name="no"
                placeholder="Masukkan no produk"
                required
                />
            </div>
            <div class="form-group">
                <label for="name">Posisi</label>
                <input
                type="text"
                class="form-control"
                id="posisi"
                name="posisi"
                placeholder="Masukkan posisi produk"
                required
                />
            </div>
            <div class="form-group">
                <label for="name">Foto</label>
                <input
                type="text"
                class="form-control"
                id="foto"
                name="foto"
                placeholder="Masukkan foto produk"
                required
                />
            </div>
            <div class="form-group">
                <label for="name">Klub</label>
                <input
                type="text"
                class="form-control"
                id="klub"
                name="klub"
                placeholder="Masukkan klub produk"
                required
                />
            </div>
            <div class="form-group">
                <label for="name">Tanggal Naturalisasi</label>
                <input
                type="date"
                class="form-control"
                id="tanggal_naturalisasi"
                name="tanggal_naturalisasi"
                placeholder="Masukkan tanggal_naturalisasi produk"
                required
                />
            </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                Close
            </button>
            <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </form>
        </div>
    </div>
    </div>